<!--<h1>Hello World!</h1>

<h2 #HotelName></h2> -->

<!--<div [ngSwitch]="role">
    <div *ngSwitchCase="'admin'">
        <h2>Welcome Admin</h2>
        <hinv-rooms></hinv-rooms>
    </div>
    <div *ngSwitchCase="'User'">
        <h2>Welcome User</h2>
    </div>
    <div *ngSwitchDefault>
        <h2>You are not authorized to use this!</h2>
    </div>

</div> -->

<!-- can access the #user from .ts file 
<div>
    <ng-template #user></ng-template>
</div> -->

<!-- The order here does not have to be the same as placed in container component, it automatically 
 rearranges according to the order in the container component-->
 
 <!--
<hinv-container>
     <hinv-employee></hinv-employee>
     <hinv-rooms></hinv-rooms>
     
    <h2>This is from container1</h2>
</hinv-container> -->

<!--<hinv-rooms></hinv-rooms> -->

<!--
<nav>
    <ul>
      <li><a routerLink="/rooms" routerLinkActive="active" ariaCurrentWhenActive="page">Rooms</a></li>
      <li><a routerLink="/employee" routerLinkActive="active" ariaCurrentWhenActive="page">Employee</a></li>
    </ul>
  </nav> 

<router-outlet></router-outlet> -->

<hinv-app-nav></hinv-app-nav>